{% extends "list.tmpl" %}

{% block title %}{{ title }} · {{ blog_title }}{% endblock %}
{% block og_title %}{{ title }} · {{ blog_title }}{% endblock %}
{% block twitter_title %}{{ title }} · {{ blog_title }}{% endblock %}
