<figure class="align-center">
  <div class="media-frame video">
    {% if provider == "youtube" %}
      <iframe
        src="https://www.youtube.com/embed/{{ id }}"
        title="{{ title | default(value="Video") }}"
        loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    {% elif provider == "vimeo" %}
      <iframe
        src="https://player.vimeo.com/video/{{ id }}"
        title="{{ title | default(value="Video") }}"
        loading="lazy"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
    {% elif provider == "dailymotion" %}
      <iframe
        src="https://www.dailymotion.com/embed/video/{{ id }}"
        title="{{ title | default(value="Video") }}"
        loading="lazy"
        allowfullscreen
      ></iframe>
    {% endif %}
  </div>
</figure>
